/* generic styles */
body {
  margin:0 auto;
  padding:0;
  width: 1200px;
  background:#fafafa;
  font-size:18px;
}
a,a:hover{
  text-decoration:none;
  color:#666;
}
ul,ol{
  margin: 0;
  padding:0;
}
/* specific things */
/* sidebar left */
.main-nav {
  float:left;
  width:150px;
  padding:15px;
}
.main-nav ul, .main-nav ol {
  list-style:none;
  line-height:1.5em;
}
.main-nav nav{
  width: 150px;
}
/* content */
.main-content {
  float:left;
  width:78%;
  border-left:1px solid #ccc;
}
.article {
  margin:2em 3em;
}
pre {
  border:1px solid #aaa;
  overflow:hidden;
  padding: 10px;
  background: #fff;
  white-space: break-spaces;
}
pre code {
  overflow-x:scroll;
}

p code, li code  {
  background:#F0F0F0;
  color:#444;
  border:1px solid #ccc;
  padding:0.1em 0.2em;
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6{
  padding-left:10px;
  margin:10px 0;
}
.article h1 {
  font:700 3rem serif;
  border-left: 10px solid #ff0000;
}
.article h2 {
  font:600 2.4rem serif;
  border-left: 6px solid #ff9900;
}
.article h3 {
  font:500 1.8rem serif;
  border-left: 3px solid #ffcc00;
}
.article h4 {
  font:400 1.4rem serif;
  border-left: 1px solid #ff9999;
}
.article h5 {
  font:300 1.2rem serif;
  border-left: 1px solid #66ccff;
}
.article h6 {
  font:200 1.2rem serif;
  border-left: 1px solid #ccffcc;
}
.article p {
  line-height:1.5em;
}
