body {
  margin:20px auto;
  padding:0;
  width: 100%;
  max-width: 1200px;
  background:#fafafa;
  font-size:16px;
}
a,a:hover{
  text-decoration:none;
  color:#666;
  word-wrap:break-word;
  word-break:break-all;
}
ul,ol,li{
  margin: 0;
  padding:0;
  list-style: none;
}

.tocbot {
  position: fixed;
  top:100px;
  transform: translateX(0);
  right: calc((100% - 75rem) / 2);
  width:150px;
  padding:0 10px;
  border-left: 1px solid #eee;
}
.tocbot ul, .tocbot ol {
  list-style:none;
  line-height:1.5em;
}

.menu{
  width: 100%;
  overflow: hidden;
  padding: 0;
}
.menu ul li{
  float:left;
  padding:0 10px;
  width: 100px;
}

.main-content {
  width: calc(100% - 200px);
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6{
  padding-left:10px;
  margin:50px 0 20px 0;
}
.article h1:before, .article h2:before, .article h3:before, .article h4:before, .article h5:before, .article h6:before{
  vertical-align:super;
}
.article h1 {
  font:700 2rem serif;
}
.article h1:before{
  content:"#";
  color:red;
  padding-right: 2px;
}
.article h2 {
  font:600 1.5rem serif;
}
.article h2:before{
  content:"##";
  color:#ff8100;
  padding-right: 2px;
}
.article h3 {
  font:500 1.25rem serif;
}
.article h3:before{
  content:"###";
  color:#ff006a;
  padding-right: 2px;
}
.article h4 {
  font:400 1rem serif;
}
.article h4:before{
  content:"####";
  color:#00adff;
  padding-right: 2px;
}
.article h5 {
  font:300 0.75rem serif;
}
.article h5:before{
  content:"#####";
  color:#008e4c;
  padding-right: 2px;
}
.article h6 {
  font:200 0.5rem serif;
}
.article h6:before{
  content:"######";
  color:#797979;
  padding-right: 2px;
}
.article p {
  line-height:1.5em;
}

pre {
  border:1px solid #aaa;
  overflow:hidden;
  padding: 10px;
  background: #fff;
  white-space: break-spaces;
}

code  {
  background:#F0F0F0;
  color:#444;
  border:1px solid #ccc;
  padding:0.1em 0.2em;
  overflow-x:scroll;
}

@media screen and (max-width: 960px){
  body{
    margin: 2rem;
    display: inherit;
  }
  .tocbot{
    top:150px!important;
    right:0;
  }
  .toc-list li{
    width: 130px;
  }
}